<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color111">
    <ion-label position="stacked">BAP-65 Score</ion-label>
    <ion-text>
      <p>1. Should only be used in patients presenting to the ED with a primary diagnosis of an acute COPD exacerbation, not in the outpatient setting or in patients whose COPD is stable.</p>
      <p>2. BAP-65 class V have the highest risk of in-hospital mortality and need for mechanical ventilation, and these patients should be closely monitored.</p>
      <p>3. Was not studied to dictate management or treatment options. The score should not replace clinical judgment regarding workup, diagnosis, or treatment.</p>
    </ion-text>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item class="color111">
    <ion-label position="stacked">DECAF Score</ion-label>
    <ion-text>
      <p>1. Use in patients ≥35 years old, hospitalized with a primary diagnosis of acute exacerbation of COPD. Do not use in patients with comorbidity expected to limit survival <12 months.</p>
      <p>2. DECAF Scores 5–6 were found to have highest risk of death and shortest time to death, and may warrant early evaluation for escalation of care, higher level of monitoring, or potential palliative care.</p>
      <p>3. Was not studied to dictate management or treatment options. The score should not replace clinical judgment regarding workup, diagnosis, or treatment.</p>
    </ion-text>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item class="color111">
    <ion-text>
      <p><a target="_blank" rel="noopener noreferrer" href="https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/224759">BAP-65 score reference</a></p>
      <p><a target="_blank" rel="noopener noreferrer" href="https://pubmed.ncbi.nlm.nih.gov/22895999/">DECAF score reference</a></p>
    </ion-text>
  </ion-item>
</ion-content>
